.page-play {
	.play-area {
		@include loaderContainer;
		display: flex;
		flex-direction: column;
		align-items: center;

		.play-area-top {
			display: flex;
			flex-direction: column;
			align-items: center;

			.timer {
				text-align: center;
			}

			.instruction {
				margin: 0;
				margin-top: $spacing-xxs;
				font-size: 12px;
				max-width: 300px;

				.play-tag {
					font-weight: bold;
					background: $colour-grey-b;
					line-height: 18px;
					padding: 0 2px;
					@include borderRadius(2px);
					display: inline-block;
				}
			}

			.progress-bar {
				margin: $spacing-xs 0;
				width: 240px;
	
				&.with-dialogue {
					.progress-bar-inner {
						background-color: $colour-pink;
					}
				}
			}
		}

		.comic-panel-pair {
			@include comicWrapperStyle;
		}

		.play-actions {
			margin-top: $spacing-sm;
		}

		.play-options {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: $spacing-md 0;
		}

		.start-help {
			margin-top: $spacing-lg;
			color: $colour-grey-c;

			ul {
				text-align: center;
				list-style-type: none;
				padding: 0;
				font-size: 14px;
			}
		}

		.end-buttons {
			flex-direction: column;
			> * {
				margin-top: $spacing-sm;
			}
		}

		.anon-message {
			background-color: $colour-grey-e;
			max-width: 400px;
			margin-top: $spacing-sm;
			@include borderRadius(4px);
			@include allHeadings {
				color: $colour-white;
			}
			color: $colour-white;
			padding: $spacing-xs;
			@include oversm {
				padding: $spacing-sm;
			}

			a {
				color: $colour-white;
				text-decoration: underline;
			}

			ul {
				text-align: left;
				font-size: 12px;
			}
		}

		.tip-strip {
			margin-top: $spacing-xl * 2;
		}
	}
}