.page-play {
	.play-area {
		position: relative;
		min-height: 60vh;
		display: flex;
		flex-direction: column;
		align-items: center;

		.play-area-top {
			margin-bottom: $spacing-xs;
		}

		.progress-bar {
			width: 200px;
		}

		.comic-panel-pair {
			@include comicWrapperStyle;
		}

		.button-container {
			margin-top: $spacing-xs;
		}

		.start-help {
			margin-top: $spacing-lg;
			color: $colour-grey-c;

			ul {
				text-align: center;
				list-style-type: none;
				padding: 0;
				font-size: 14px;
			}
		}
	}
}