.page-play {
	.play-area {
		position: relative;
		min-height: 60vh;
		display: flex;
		flex-direction: column;
		align-items: center;

		.play-area-top {
			margin-bottom: $spacing-xs;
		}

		.progress-bar {
			width: 200px;

			&.with-dialogue {
				.progress-bar-inner {
					background-color: $colour-pink;
				}
			}
		}

		.comic-panel-pair {
			@include comicWrapperStyle;
		}

		.play-actions {
			margin-top: $spacing-xs;
		}

		.start-help {
			margin-top: $spacing-lg;
			color: $colour-grey-c;

			ul {
				text-align: center;
				list-style-type: none;
				padding: 0;
				font-size: 14px;
			}
		}

		.play-again-button {
			margin-top: $spacing-sm;
		}

		.anon-message {
			background-color: $colour-black;
			max-width: 400px;
			margin: $spacing-sm auto;
			@include borderRadius(4px);
			@include allHeadings {
				color: $colour-white;
			}
			color: $colour-white;
			padding: $spacing-xs;
			@include oversm {
				padding: $spacing-sm;
			}

			ul {
				text-align: left;
				font-size: 12px;
			}
		}
	}
}