.tabbed-panels {
	@include raisedContainer;

	.tabbed-panels-tabs {
		display: flex;
		flex-direction: row;
		padding: 0;
		background-color: $colour-grey-b;
		list-style: none;
		margin: 0;

		.tabbed-panels-tab {
			flex: 1;
			text-align: center;
			cursor: pointer;
			outline:0;
			color: $colour-black;
			padding: $spacing-xs;
			@include borderRadius(4px);
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			.tab-title {
				font-size: 12px;
				text-align: center;
			}
			
			@include oversm {
				.tab-title {
					font-size: 14px;
				}
				padding: $spacing-xs $spacing-sm;
			}

			&.react-tabs__tab--selected {
				background-color: $colour-white;
			}
			&:not(.react-tabs__tab--selected) {
				background-color: $colour-grey-b;

				&:hover {
					background-color: $colour-grey-c;
				}
			}
		}
	}

	.tabbed-panels-panel {
		background-color: $colour-white;
		&.react-tabs__tab-panel--selected {
			@include loaderContainer;
			padding: $spacing-sm;
		}
	}
}