.context-menu {
	position: relative;
	cursor: pointer;
	
	.context-menu-content {
		color: $colour-black;
		cursor: default;
		position: absolute;
		z-index: 10;
		background-color: $colour-white;
		border: 1px solid $colour-grey-b;
		@include borderRadius(4px);
		width: 150px;
		display: none;
		@include boxShadow(4px, 4px, 4px, #00000022);
		&.open {
			display: flex;
			flex-direction: column;
		}
	
		&.left {
			left: 0;
		}
		&.right {
			right: 0;
		}

		&.top {
			bottom: calc(100% + #{$spacing-xxs});
		}
		&.bottom {
			top: calc(100% + #{$spacing-xxs});
		}

		.menu-items {
			display: flex;
			flex-direction: column;

			.menu-item {
				padding: $spacing-sm;
				color: $colour-black;
				text-align: left;
				font-size: 14px;
				cursor: pointer;
	
				.menu-item-inner {
					display: flex;
					flex-direction: row;
					svg {
						height: 1em;
						margin-right: $spacing-xs;
					}
				}

				&:not(:first-child) {
					border-top: 1px solid $colour-grey-b;
				}
	
				&:hover {
					color: $colour-pink;
					text-decoration: none;
					background-color: $colour-light-pink;

					svg {
						path {
							fill: $colour-pink;
						}
					}
				}
			}
		}
	}
}