@mixin oversm { // Small devices
	@media (min-width: #{$screen-sm-min}) { @content; }
}
@mixin overmd { // Medium devices
	@media (min-width: #{$screen-md-min}) { @content; }
}
@mixin overlg { // Large devices
	@media (min-width: #{$screen-lg-min}) { @content; }
}
@mixin overxl { // Extra large devices
	@media (min-width: #{$screen-xl-min}) { @content; }
}

@mixin absoluteCover {
	position: absolute;	
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}