$colour-green-a: #3E8377;
$colour-green-b: #48AD92;

$colour-red-a: #f0002d;

$colour-pink-a: #ff0052;

$colour-sand-a: #F6E4C4;

$colour-white: #fff;
$colour-black: #080808;

$colour-grey-a: #efefef;
$colour-grey-b: #969696;
$colour-grey-c: #373737;

$colour-transparent-grey-dark: #00000088; 
$colour-transparent-grey: #00000044; 

$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 32px;
$spacing-lg: 64px;
$spacing-xl: 128px;

$screen-sm-min: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops