.group-list {
	.group-list-filters {
		margin-bottom: $spacing-sm;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		&:first-child {
			margin-top: 0;
		}

		.search {
			min-width: 100px;
		}

		> * {
			&:not(:first-child) {
				margin-left: $spacing-xs;
			}
		}
	}

	.group-list-inner {
		.group-list-item {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			margin-bottom: $spacing-sm;
	
			.group-details {
				flex: 1;
				margin-left: $spacing-xs;
				
				.group-name {
					font-weight: bold;
					flex: 1;
					@include singleLineEllipsis;
					margin-bottom: $spacing-xxs;
				}
		
				.group-subtitle {
					margin-top: $spacing-xxs;
					margin-bottom: $spacing-xxs;
				}
		
				.description {
					color: $colour-grey-d;
					overflow-wrap: break-word;
					white-space: pre-line;
					font-size: 12px;
				}
			}
		}
	}

	.group-list-bottom {
		@include loaderContainer;
	}
}