.group-list {
	.group-list-item {
		display: flex;
		flex-direction: row;

		.group-details {
			margin-left: $spacing-xs;
			
			.group-name {
				font-weight: bold;
				flex: 1;
				@include singleLineEllipsis;
			}
	
			.instruction {
			}
	
			.description {
				overflow-wrap: break-word;
				white-space: pre-line;
				font-size: 12px;
			}
	
			.group-bottom {
				color: $colour-grey-d;
			}
		}
	}
}