.comment-thread {
	
	.comments {
		overflow-y: auto;
		overflow-x: hidden;

		.comment {
			margin: $spacing-sm 0;
			&:not(:first-child) {
				padding-top: $spacing-xs;
			}
		}

		.posting-message{
			margin: $spacing-xs;
		}
	}

	.comment-input-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-top: $spacing-xs;

		.user-avatar {
			margin-right: $spacing-xs;
		}
	}	
}