.comment-thread {
	
	.comments {
		height: 50vh;
		max-height: 300px;
		overflow-y: auto;
		overflow-x: hidden;
		border-top: 1px solid $colour-grey-b;
		border-bottom: 1px solid $colour-grey-b;
		padding: 0 $spacing-xxs;

		.comment {
			margin: $spacing-sm 0;
			&:not(:first-child) {
				padding-top: $spacing-xs;
			}
		}

		.posting-message{
			margin: $spacing-xs;
		}
	}

	.comment-input-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-top: $spacing-xs;

		.user-avatar {
			margin-right: $spacing-xs;
		}
	}	
}