.comment {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
			
	.avatar, .empty-avatar {
		margin-right: $spacing-xs;
	}

	.empty-avatar {
		width: 32px;
	}

	.comment-inner {
		flex: 1;

		.comment-upper {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: $spacing-xs;
	
			.user-date {
				font-size: 12px;
				color: $colour-grey-c;
			}
		}
	
		.comment-lower {
	
			.comment-value {
				font-size: 14px;
				overflow-wrap: break-word;
				white-space: pre-line;
			}
	
			.comment-actions {
				margin-top: $spacing-xs;
				
				&:empty {
					display: none;
				}

				a {
					font-size: 12px;
					color: $colour-grey-d;

					&:hover {
						text-decoration: underline;
					}

					&:not(:first-child) {
						margin-left: $spacing-xs;
					}
				}
			}
		}
	}
}