.comment {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
			
	.avatar {
		margin-right: $spacing-xs;
	}

	.comment-inner {
		flex: 1;

		.comment-upper {
			display: flex;
			flex-direction: row;
			align-items: center;
	
			.user-date {
				font-size: 12px;
				color: $colour-grey-c;
			}
		}
	
		.comment-lower {
			margin-top: $spacing-xs;
	
			.comment-value {
				font-size: 14px;
				overflow-wrap: break-word;
				white-space: pre-line;
			}
	
			.comment-actions {
				margin-top: $spacing-xs;
				
				a {
					font-size: 12px;
					color: $colour-black;
					text-decoration: underline;

					&:hover {
						color: $colour-pink;
					}

					&:not(:first-child) {
						margin-left: $spacing-xs;
					}
				}
			}
		}
	}
}