.page-game {
	.panel-game-feed {
		position: relative;
		min-height: 100vh;

		.game-feed {
			display: flex;
			flex-direction: column;
			align-items: stretch;

			.game-navigation { 
				margin-bottom: $spacing-xs;
				@include oversm {
					margin-bottom: $spacing-sm;
				}
			}

			.comic-list {
				align-self: stretch;
			}
		}
	}
}