.comic-list {
	position: relative;

	.comic-list-upper {
		margin: 0 auto;
		margin-bottom: $spacing-sm;

		display: flex;
		flex-direction: column;
		align-items: center;
		@include overmd {
			flex-direction: row;
		}

		.comic-list-title {
			flex: 1;

			margin-bottom: $spacing-xs;
			@include overmd {
				margin-bottom: 0;
			}
		}

		.comic-list-filters {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			&:first-child {
				margin-top: 0;
			}
	
			> * {
				&:not(:first-child) {
					margin-left: $spacing-xs;
				}
			}
	
			.anonymous-switch {
				.checkmark {
					top: 6px;
				}
	
				.checkbox-label {
					width: 110px;
				}
			}
		}
	}

	.comic-list-inner {
		display: flex;
		flex-direction: column;
		align-items: center;

		.comic {
			margin-bottom: $spacing-md;
		}

		.comic-list-bottom {
			@include loaderContainer;
		}
	}

	.tip-strip {
		margin-top: $spacing-lg;
	}
}