.comic-list {
	position: relative;

	.comic-list-title {
		margin-bottom: $spacing-sm;
	}

	.filters {
		margin-bottom: $spacing-sm;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.comic-list-inner {
		display: flex;
		flex-direction: column;
		align-items: center;

		.comic {
			@include boxShadow(4px, 4px, 2px, #00000022);
			margin-bottom: $spacing-md;
		}

		.comic-list-bottom {
			position: relative;
			min-height: 40vh;

			.button-container {
				justify-content: center;
			}
		}
	}
}