.comic-list {
	position: relative;

	.filters {
		margin: $spacing-sm 0;
		display: flex;
		flex-direction: row;
	}

	.comic-list-inner {
		position: relative;
		min-height: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		.comic {
			margin-bottom: $spacing-md;
		}
	}
}