.app-header {
	z-index: 10;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: $colour-black;
	color: $colour-white;
	@include boxShadow(0px, 4px, 4px, #00000022);

	.app-header-inner {
		display: flex;
		flex-direction: row;
		align-items: center;

		.app-menu {
			.app-menu-icon {
				padding: $spacing-xs 0;
				height: 20px;
				width: 20px;
				@include svgColourStroke($colour-white);

				&:hover {
					@include svgColourStroke($colour-pink);
				}
			}

			.context-menu-content {
				top: 100%;
			}
		}

		.profile-menu {
			.username {
				margin: 0;
				padding: $spacing-xs $spacing-xxs;
				background-color: $colour-grey-a;
				border-bottom: 1px solid $colour-grey-b;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

		.app-logo {
			margin-left: $spacing-xs;
			height: 24px;
			padding: $spacing-xs 0;
		}
	
		.app-title {
			font-size: 1.5em;
			margin: 0;
		}

		.notification-button {
			margin-right: $spacing-xs;
			padding: $spacing-xs;
		}

		.user-avatar {
			transition: transform 0.1s;
			
			&:hover {
				transform: rotate(15deg);
			}
		}
	}
}