.app-header {
	background: $colour-black;
	color: $colour-white;
	@include boxShadow(0px, 4px, 4px, #00000022);

	@include oversm {
		padding: $spacing-xxs 0;
	}

	.app-header-inner {
		display: flex;
		flex-direction: row;
		align-items: center;

		.app-menu {
			.app-menu-icon {
				height: 24px;
				width: 24px;
				padding: $spacing-xxs;
				@include svgColourStroke($colour-white);
			}
		}

		.app-logo {
			height: 32px;
			margin-left: $spacing-xxs;
		}
	
		.app-title {
			font-size: 1.5em;
			margin: 0;
		}
	}
}