.app-header {
	background: $colour-black;
	color: $colour-white;
	@include boxShadow(0px, 4px, 4px, #00000022);
	padding: $spacing-xxs 0;

	.app-header-inner {
		display: flex;
		flex-direction: row;
		align-items: center;

		.app-menu {
			.app-menu-icon {
				height: 24px;
				width: 24px;
				padding: $spacing-xxs 0;
				@include svgColourStroke($colour-white);

				&:hover {
					@include svgColourStroke($colour-pink);
				}
			}
		}

		.profile-menu {
			.username {
				margin: 0;
				padding: $spacing-xs $spacing-xxs;
				background-color: $colour-grey-a;
				border-bottom: 1px solid $colour-grey-b;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

		.app-logo {
			margin-left: $spacing-xs;
			height: 32px;
		}
	
		.app-title {
			font-size: 1.5em;
			margin: 0;
		}

		.notification-button {
			margin-right: $spacing-xxs;
		}

		.avatar {
			transition: transform 0.1s;
			
			&:hover {
				transform: rotate(15deg);
			}
		}
	}
}