.modal {
	background-color: $colour-white;
	max-width: 500px;

	margin: $spacing-xs;
	@include oversm {
		margin: $spacing-sm;
	}

	&.modal-prompt {
		padding: $spacing-sm;

		.button-container {
			justify-content: flex-end;
		}
	}

	&.modal-share-comic {
		padding: $spacing-sm;

		.share-comic {
			display: flex;
			flex-direction: column;
			align-items: center;

			> * {
				&:not(:first-child) {
					margin-top: $spacing-sm;
				}
			}
		}
	}
}