.modal {
	width: 94vw;
	background-color: $colour-white;

	.modal-header {
		background-color: $colour-black;
		color: $colour-white;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: $spacing-xxs $spacing-xs;

		.modal-icon {
			height: 16px;
			width: 16px;
			margin-right: $spacing-xs;
			@include svgColourStroke($colour-white);
		}

		.modal-close-icon {
			cursor: pointer;
			height: 16px;
			width: 16px;
			padding: $spacing-xxs 0;
			@include svgColourStroke($colour-white);

			&:hover {
				@include svgColourStroke($colour-pink);
			}
		}
	}

	.modal-content {
		padding: $spacing-xs;
	}

	&.modal-confirm {
		max-width: 500px;

		.button-container {
			justify-content: flex-end;
		}
	}

	&.modal-alert {
		max-width: 300px;
		
		.button-container {
			justify-content: center;
		}
	}

	&.modal-share-comic {
		max-width: 300px;

		.share-comic-container {
			display: flex;
			flex-direction: column;
			align-items: center;
		
			>*{
				&:not(:first-child) {
					margin-top: $spacing-xs;
				}
			}
		
			.input-link {
				max-width: 240px;
			}
		}
	}

	&.modal-report-comic-panel {
		max-width: 440px; //For landscape phones
		font-size: 14px;

		.report-requirements {
			margin-bottom: $spacing-sm;
		}

		.button-container {
			justify-content: flex-end;
		}
	}
}