.game-navigation {
	display: flex;
	flex-direction: row;
	align-items: center;

	.game-info {
		h3 {
			color: $colour-pink-a;
		}
	}

	.button {
		.button-label {
			display: none;
			@include overlg {
				display: initial;
			}
		}
	}
}