.comment-input {
	flex: 1;
	display: flex;
	flex-direction: column;
	position: relative;

	textarea {
		align-self: stretch;
		resize: vertical;
	}

	.button-container {
		margin-top: $spacing-xxs;
	}
}