.template-navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
    max-width: 500px;
    margin: 0 auto;

	.template-info {
		h2 {
			color: $colour-pink;
		}
	}

	.button-container {
		flex: 1;

		&:last-child {
			justify-content: flex-end;
		}
		
		.button {
			.button-label {
				display: none;
				@include oversm {
					display: initial;
				}
			}
		}
	}
}