.template-navigation {
	display: flex;
	flex-direction: row;
	align-items: center;

	.template-info {
		h3 {
			color: $colour-pink-a;
		}
	}

	.button-container {
		flex: 1;

		&:last-child {
			justify-content: flex-end;
		}
		
		.button {
			.button-label {
				display: none;
				@include overlg {
					display: initial;
				}
			}
		}
	}
}