.page-template {
	.template-navigation { 
		margin: $spacing-sm 0;
	}

	.template-feed {
		min-height: 100px;
		position: relative;

		.template-feed-inner {
			display: flex;
			flex-direction: column;
			align-items: center;

			>.comic {
				margin-bottom: $spacing-md;
			}

			.comic-list {
				align-self: stretch;
			}
		}
	}
}