.page-template {
	.template-header {
		margin-bottom: $spacing-sm;
		h5 {
			color: $colour-pink-a;
		}
	}
	.template-feed {
		display: flex;
		flex-direction: column;
		align-items: center;

		.comic {
			margin-bottom: $spacing-md;
		}
	}
}