.page-template {
	.template-navigation {
		margin: 0 auto;
	}

	.template-name {
		text-align: center;
		margin-top: $spacing-sm;
	}

	.top-comic-container {
		margin-top: $spacing-sm;
		@include loaderContainer;

		h3 {
			margin-bottom: $spacing-sm;
		}
	}

	.comic-list {
		margin-top: $spacing-sm;
	}
}