.notification-menu {
	position: relative;

	.context-menu-content {
		width: 200px;
	}

	.notification-content {
		font-size: 12px;
		max-height: 300px;
		overflow-y: auto;
	
		.notification {
			padding: $spacing-xs;
			position: relative;

			&.actionable {
				background-color: $colour-light-pink;
			}

			> p {
				margin: 0;
				&:not(:first-child) {
					margin-top: $spacing-xs;
				}
			}

			.title {
				font-weight: bold;
			}

			.link {
				@include absoluteCover;
			}

			&.linked {
				&:hover {
					color: $colour-pink;
				}
			}
			&:not(.linked) {
				color: $colour-grey-d;
			}

			&:not(:first-child) {
				border-top: 1px solid $colour-grey-b;
			}
		}

		>.empty-text {
			padding: $spacing-sm;
		}
	}	
}