.group-pending-info-user {
	> * {
		&:not(:last-child) {
			margin-bottom: $spacing-sm;
			padding-bottom: $spacing-sm;
			border-bottom: 1px solid $colour-grey-a;
		}
	}

	.group-pending-info {
		.group-pending-info-heading {
			text-align: left;
			margin-bottom: $spacing-sm;
		}

		.group-pending-info-item {
			display: flex;
			flex-direction: row;
			align-items: flex-start;

			&:not(:last-child) {
				margin-bottom: $spacing-sm;
			}

			.item-details {
				flex: 1;
				margin: 0 $spacing-xs;

				.item-name {
					margin-bottom: $spacing-xxs;
					font-weight: bold;
				}

				.item-subtitle {
					margin: 0;
				}
			}
		}

		.empty-text {
			text-align: left;
		}
	}
}