.page-leaderboards {
	.leaderboards-inner {
		@include loaderContainer;

		.leaderboard-table {
			border-collapse: collapse;
			width: 100%;
	
			.leaderboard-item {
				text-align: left;

				&:not(:last-child) {
					border-bottom: 1px solid $colour-grey-a;
				}

				@include allHeadings {
					text-align: left;
				}
				
				&.leaderboard-user {
					td {
						align-items: center;
					}
				}

				&.leaderboard-highlight {
					background-color: $colour-grey-a;
				}

				.leaderboard-item-detail {
					> * {
						&:not(:first-child) {
							margin-top: $spacing-xs;
						}
					}

					.rating {
						margin-top: $spacing-xxs;
					}
				}
	
				td {
					vertical-align: top;
					padding: $spacing-sm 0;
					display: flex;
					flex-direction: row;

					>:not(:last-child) {
						margin-right: $spacing-xs;
					}
				}
			}
		}

		.leaderboards-note {
			margin-top: $spacing-sm;
			color: $colour-grey-d;
		}
	}
}