.page-templates {
	.templates {
		@include raisedContainer;
		padding: $spacing-sm;

		ul {
			padding-left: 0;
			list-style-type: none;

			li {
				&:not(:last-child) {
					margin-bottom: $spacing-sm;
				}
			}
		}
	}
}