.page-how-to-play {
	
	.how-to-play-image {
		margin: 0 auto;
		border: 1px solid $colour-grey-b;	
		display: block;
		max-width: 80vw;
	}

	.demo-pair {
		display: flex;
		justify-content: center;
		flex-direction: row;
		
		.comic-panel-pair {
			@include comicWrapperStyle;
		}
	}

	.comic-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}