.comic {
	position: relative;
	overflow: hidden;

	.comic-content {
		cursor: pointer;
		border: 1px solid $colour-grey-b;
		background-color: $colour-white;
		@include borderRadius(4px);
		position: relative;
		display: inline-block;

		&.for-image-capture {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
		}
	}

	.comic-lower {
		padding: $spacing-xxs 0;
		display: flex;
		flex-direction: column;
		justify-content: stretch;

		> * {
			flex: 1;

			&:not(:first-child) {
				margin-top: $spacing-sm;
			}
		}

		.comic-lower-inner {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
		}

		&:empty {
			display: none;
		}
	}

	@-webkit-keyframes fade-in {
		0% { opacity: 0; }
		100% { opacity: 1; }
	  }
	  @keyframes fade-in {
		0% { opacity: 0; }
		100% { opacity: 1; }
	  }

	-webkit-animation:fade-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: fade-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}