.comic {
	.comic-inner {
		position: relative;

		img {
			@include absoluteCover;
		}
		
		.dialogue {
			position: absolute;
			background-color: transparent;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			&.edit-empty {
				cursor: text;
				border: 1px solid $colour-green-b;
			}

			&.edit-invalid {
				border: 1px solid $colour-red-b;
			}

			> * {				
				max-height: 100%;
				width: 100%;
				margin: 0;
				padding: 0;
				border: none;
				font-family: Arial, Helvetica, sans-serif;
				overflow: hidden;
				text-align: center;
				background-color: transparent;
			}

			textarea {
				resize: none;
				outline: none;

				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
			}
		}

		.comic-footer {
			position: absolute;
			bottom: 0;
			color: $colour-grey-b;
		}

		.begin-edit-overlay {
			@include absoluteCover;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}

		.share-overlay {
			@include absoluteCover;
			background-color: $colour-transparent-grey;
		}

		// Scaling code
		$comic-width: 1080px;
		$comic-height: 1080px;
		$comic-dialogue-font-size: 40px;
	
		$comic-footer-font-size: 28px;
		$comic-footer-margin: 8px;
	
		$comic-scale-xs: 0.3;
		$comic-scale-sm: 0.4;
		$comic-scale-md: 0.45;
		$comic-scale-lg: 0.5;
	
		@mixin scaleComic ($comic-scale) {
			width: calc(#{$comic-width} * #{$comic-scale});
			height: calc(#{$comic-width} * #{$comic-scale});
			.dialogue {
				> * {
					font-size: calc(#{$comic-dialogue-font-size} * #{$comic-scale});
				}
			}
			
			.comic-footer {
				font-size: calc(#{$comic-footer-font-size} * #{$comic-scale});
				margin: 0 calc(#{$comic-footer-margin} * #{$comic-scale})
			}
		}
	
		@include scaleComic($comic-scale-xs);
	
		@include oversm {
			@include scaleComic($comic-scale-sm);
		}
	
		@include overmd {
			@include scaleComic($comic-scale-md);
		}
	
		@include overlg {
			@include scaleComic($comic-scale-lg);
		}
	}

	.actions {
		display: flex;
		flex-direction: row;
	}

	.comic-vote {
		display: flex;
		flex-direction: row;
		align-items: center;

		.vote-thumb {
			cursor: pointer;
			font-size: 32px;
		}
	}
}