.page-group {
	.group-actions {
		margin-top: $spacing-sm;
	}

	.group-info {
		.group-info-header {
			> * {
				text-align: center;
			}

			.group-avatar {
				margin: 0 auto;
			}

			.created-date {
				margin: $spacing-xxs 0;
				color: $colour-grey-e;
			}

			.group-call-to-action {
				margin: $spacing-sm 0;
			}
		}

		.member-list {
			display: flex;
			flex-direction: column;
	
			.member-list-item {
				display: flex;
				flex-direction: row;
				
				&:not(:last-child) {
					margin-bottom: $spacing-sm;
				}
	
				.member-list-item-detail {
					margin-left: $spacing-xs;
					flex: 1;
				}
			}
		}
	}

	.comic-list {
		margin-top: $spacing-md;
	}
}