.page-group {
	.group-actions {
		margin: $spacing-xs 0;
	}

	.group-info {
		.group-info-header {
			> * {
				text-align: center;
			}

			.group-avatar {
				margin: 0 auto;
			}

			.created-date {
				margin: $spacing-xxs 0;
				color: $colour-grey-e;
			}
		}
	}
}