.page-group {
	.group-info {
		.group-info-header {
			> * {
				text-align: center;
			}

			.group-avatar {
				margin: 0 auto;
				margin-bottom: $spacing-xs;
			}

			.created-date {
				margin: $spacing-xxs 0;
				color: $colour-grey-e;
			}

			.group-call-to-action {
				margin: $spacing-sm 0;

				.join-info {
					color: $colour-pink;
				}
			}
		}

		.tabbed-panels {
			margin-top: $spacing-sm;

			.group-details {
				.group-description {
					border-bottom: 1px solid $colour-grey-a;
					overflow-wrap: break-word;
					white-space: pre-line;
					font-size: 14px;
					padding-bottom: $spacing-sm;
				}
	
				.group-comments {
					> .empty-text {
						margin-top: $spacing-sm;
					}
	
					.comment-thread {
						
						.comments {
							max-height: 400px;	
							border-bottom: 1px solid $colour-grey-a;
						}
					}
				}
			}
	
			.members {
				.group-pending-info-group {
					margin-bottom: $spacing-sm;
					padding-bottom: $spacing-sm;
					border-bottom: 1px solid $colour-grey-a;
				}
	
				.members-heading {
					margin-bottom: $spacing-sm;
					text-align: left;
				}
	
				.member-list {
					display: flex;
					flex-direction: column;
			
					.member-list-item {
						display: flex;
						flex-direction: row;
						
						&:not(:last-child) {
							margin-bottom: $spacing-sm;
						}
			
						.member-list-item-detail {
							margin-left: $spacing-xs;
							flex: 1;
							
							.username {
								text-align: left;
								margin-bottom: $spacing-xxs;
							}
	
							.joined-at {
								margin: 0;
							}
						}
					}
				}
			}
		}
	
		.challenges {
			.group-challenges-list {
				border-top: 1px solid $colour-grey-a;
				padding-top: $spacing-md;
				margin-top: $spacing-md;
				
				.group-challenge-item {
					display: flex;
					flex-direction: row;
					align-items: flex-start;
	
					&:not(:last-child) {
						margin-bottom: $spacing-md;
					}
	
					.challenge-detail {
						flex: 1;
	
						p {
							font-size: 14px;
							font-style: italic;
							margin-bottom: $spacing-xxs;
						}
					}
				}
			}
		}
	}

	.comic-list {
		margin-top: $spacing-md;
	}
}