.page-top-comics {
	.top-comics-inner {
		position: relative;
		min-height: 60vh;

		.top-comics-table {
			border-collapse: collapse;
			width: 100%;
	
			tr {
				&:not(:last-child) {
					border-bottom: 1px solid $colour-grey-b;
				}
	
				td {
					vertical-align: top;
					padding: $spacing-sm 0;
		
					&.cell-button {
						text-align: right;
						min-width: 100px;
						@include oversm {
							min-width: 160px;
						}

						.button-container {
							justify-content: flex-end;
							
							&:not(:first-child) {
								margin-top: $spacing-xs;
							}
						}
					}
				}
			}
		}
	}
}