.page-home {
	.home-inner {
		display: flex;
		flex-direction: column;
		@include overmd {
			flex-direction: row;
		}

		.home-header {
			display: flex;
			flex-direction: column;
			align-items: center;

			.app-logo {
				width: 120px;
				height: 60px;

				@include overmd {
					width: 200px;
					height: 100px;
				}
			}

			.page-subtitle {
				text-align: center;
			}
		}

		> .home-header {
			@include overmd {
				display: none;
			}
		}

		.home-detail {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			@include overmd {
				margin-right: $spacing-sm;
			}

			> .home-header {
				display: none;
				@include overmd {
					display: flex;
				}
			}

			.template-panel-carousel {
				margin-top: $spacing-sm;

				@include overmd {
					display: none;
				}
				
				.lil-buddy {
					display: none;
				}
			}

			hr {
				margin: $spacing-sm 0;
			}

			.play-panel {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: $spacing-sm;
				
				.play-info {
					margin-top: $spacing-xs;
				}

				.play-button {
					margin-bottom: $spacing-xs;
				}
			}
		}

		.home-feature {
			flex-direction: column;
			position: relative;
			justify-content: flex-end;
			display: none;
			@include overmd {
				display: flex;
			}

			> * {
				align-self: center;
				margin-top: $spacing-sm;
				@include overmd {
					margin-top: 0;
				}
			}

			.template-panel-carousel {
				&.with-lil-buddy {
					margin-top: 100px;
				}
			}
		}
	}
}