.page-home {
	.home-banner {
		margin-bottom: $spacing-sm;
		
		.app-logo {
			margin: 0 auto;
			display: block;
			width: 200px;
			min-height: 100px;
		}	
	}

	.how-to-play-button {
		margin-top: $spacing-xs;
	}

	.play-info {
		color: $colour-grey-e;
	}
}