body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
  body .app-header {
    background-color: #222;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: row; }
    body .app-header .app-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 80px; }
    body .app-header .app-title {
      font-size: 1.5em; }
  body ul {
    padding: 0;
    list-style: none;
    width: 30%;
    margin: auto; }
  body li {
    font-size: 1.2rem;
    line-height: 2rem;
    border-bottom: 1px dotted #777; }
  body .comic {
    position: relative;
    width: calc(1080px * 0.3);
    height: calc(1080px * 0.3); }
    body .comic .comic-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0; }
    body .comic .comic-inner {
      position: relative;
      height: 100%;
      width: 100%; }
      body .comic .comic-inner img {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0; }
      body .comic .comic-inner .dialogue {
        position: absolute;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; }
        body .comic .comic-inner .dialogue.empty {
          background-color: #0000001c; }
        body .comic .comic-inner .dialogue > * {
          max-height: 100%;
          width: 100%;
          margin: 0;
          padding: 0;
          border: none;
          font-family: Arial, Helvetica, sans-serif;
          overflow: hidden;
          text-align: center;
          background-color: transparent; }
        body .comic .comic-inner .dialogue textarea {
          resize: none;
          outline: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none; }
    body .comic .dialogue > * {
      font-size: calc(40px * 0.3); }
    @media (min-width: 576px) {
      body .comic {
        width: calc(1080px * 0.4);
        height: calc(1080px * 0.4); }
        body .comic .dialogue > * {
          font-size: calc(40px * 0.4); } }
    @media (min-width: 768px) {
      body .comic {
        width: calc(1080px * 0.5);
        height: calc(1080px * 0.5); }
        body .comic .dialogue > * {
          font-size: calc(40px * 0.5); } }
    @media (min-width: 992px) {
      body .comic {
        width: calc(1080px * 0.6);
        height: calc(1080px * 0.6); }
        body .comic .dialogue > * {
          font-size: calc(40px * 0.6); } }
  body .form-wrapper {
    position: relative; }
  body .app {
    text-align: center; }
  body .app-intro {
    font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes loader-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  body .loader {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10; }
    body .loader:before {
      content: '';
      position: absolute;
      border: 4px solid transparent;
      border-top: 4px solid #48AD92;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      margin-top: -16px;
      margin-left: -16px;
      left: 50%;
      top: 50%;
      animation: loader-spin 0.3s linear infinite; }
  body .hidden {
    display: none; }
  body .invisible {
    opacity: 0; }
  body .container {
    margin: 0 auto;
    max-width: 1000px; }
  body .row {
    padding: 0 8px; }
    @media (min-width: 576px) {
      body .row {
        padding: 0 16px; } }
  body a {
    cursor: pointer;
    text-decoration: underline; }
