body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #efefef;
  color: #080808; }
  body .app-container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden; }
    body .app-container .app {
      flex: 1;
      text-align: center;
      display: flex;
      flex-direction: column; }
      body .app-container .app .app-header {
        background: #080808;
        color: #fff;
        box-shadow: 0px 4px 4px #00000022;
        -webkit-box-shadow: 0px 4px 4px #00000022;
        -moz-box-shadow: 0px 4px 4px #00000022; }
        @media (min-width: 576px) {
          body .app-container .app .app-header {
            padding: 4px 0; } }
        body .app-container .app .app-header .app-header-inner {
          display: flex;
          flex-direction: row;
          align-items: center; }
          body .app-container .app .app-header .app-header-inner .app-logo {
            height: 32px; }
          body .app-container .app .app-header .app-header-inner .app-title {
            font-size: 1.5em;
            margin: 0; }
      body .app-container .app .app-footer {
        background: #080808;
        padding: 4px 0;
        color: #fff;
        box-shadow: 0px -4px 4px #00000022;
        -webkit-box-shadow: 0px -4px 4px #00000022;
        -moz-box-shadow: 0px -4px 4px #00000022; }
        body .app-container .app .app-footer .app-footer-inner {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: right; }
          body .app-container .app .app-footer .app-footer-inner .app-logo {
            height: 24px; }
      body .app-container .app .comic-list {
        position: relative; }
        body .app-container .app .comic-list .filters {
          margin-bottom: 16px;
          display: flex;
          flex-direction: row;
          align-items: center; }
        body .app-container .app .comic-list .comic-list-inner {
          position: relative;
          min-height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center; }
          body .app-container .app .comic-list .comic-list-inner .comic {
            margin-bottom: 32px; }
      body .app-container .app .comic {
        position: relative;
        border: 1px solid #373737;
        background-color: #fff;
        box-shadow: 4px 4px 2px #00000022;
        -webkit-box-shadow: 4px 4px 2px #00000022;
        -moz-box-shadow: 4px 4px 2px #00000022;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px; }
        body .app-container .app .comic .comic-inner {
          position: relative;
          width: calc(1080px * 0.28);
          height: calc(1080px * 0.28); }
          body .app-container .app .comic .comic-inner > img {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
          body .app-container .app .comic .comic-inner.view-only {
            cursor: pointer; }
          body .app-container .app .comic .comic-inner .dialogue {
            position: absolute;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px; }
            body .app-container .app .comic .comic-inner .dialogue.edit-empty {
              cursor: text;
              border: 1px solid #969696; }
            body .app-container .app .comic .comic-inner .dialogue.edit-invalid {
              border: 1px solid #f0002d; }
            body .app-container .app .comic .comic-inner .dialogue > * {
              max-height: 100%;
              width: 100%;
              margin: 0;
              padding: 0;
              border: none;
              font-family: Arial, Helvetica, sans-serif;
              overflow: hidden;
              text-align: center;
              background-color: transparent; }
            body .app-container .app .comic .comic-inner .dialogue textarea {
              resize: none; }
          body .app-container .app .comic .comic-inner .comic-footer-container {
            position: absolute;
            bottom: 0;
            width: 100%;
            color: #969696; }
            body .app-container .app .comic .comic-inner .comic-footer-container .comic-footer {
              display: flex;
              flex-direction: column; }
              body .app-container .app .comic .comic-inner .comic-footer-container .comic-footer > * {
                display: flex;
                flex-direction: row; }
              body .app-container .app .comic .comic-inner .comic-footer-container .comic-footer .comic-footer-left {
                text-align: left; }
              body .app-container .app .comic .comic-inner .comic-footer-container .comic-footer .comic-footer-right {
                text-align: right; }
          body .app-container .app .comic .comic-inner .begin-edit-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center; }
          body .app-container .app .comic .comic-inner .dialogue > * {
            line-height: calc(40px * 0.28);
            font-size: calc(38px * 0.28); }
          body .app-container .app .comic .comic-inner .comic-footer {
            font-size: calc(20px * 0.28);
            line-height: calc(20px * 0.28);
            padding: 0 calc(8px * 0.28); }
          @media (min-width: 576px) {
            body .app-container .app .comic .comic-inner {
              width: calc(1080px * 0.36);
              height: calc(1080px * 0.36); }
              body .app-container .app .comic .comic-inner .dialogue > * {
                line-height: calc(40px * 0.36);
                font-size: calc(38px * 0.36); }
              body .app-container .app .comic .comic-inner .comic-footer {
                font-size: calc(20px * 0.36);
                line-height: calc(20px * 0.36);
                padding: 0 calc(8px * 0.36); } }
          @media (min-width: 768px) {
            body .app-container .app .comic .comic-inner {
              width: calc(1080px * 0.44);
              height: calc(1080px * 0.44); }
              body .app-container .app .comic .comic-inner .dialogue > * {
                line-height: calc(40px * 0.44);
                font-size: calc(38px * 0.44); }
              body .app-container .app .comic .comic-inner .comic-footer {
                font-size: calc(20px * 0.44);
                line-height: calc(20px * 0.44);
                padding: 0 calc(8px * 0.44); } }
          @media (min-width: 992px) {
            body .app-container .app .comic .comic-inner {
              width: calc(1080px * 0.5);
              height: calc(1080px * 0.5); }
              body .app-container .app .comic .comic-inner .dialogue > * {
                line-height: calc(40px * 0.5);
                font-size: calc(38px * 0.5); }
              body .app-container .app .comic .comic-inner .comic-footer {
                font-size: calc(20px * 0.5);
                line-height: calc(20px * 0.5);
                padding: 0 calc(8px * 0.5); } }
        body .app-container .app .comic .comic-lower {
          padding: 8px;
          display: flex;
          flex-direction: column;
          justify-content: stretch; }
          body .app-container .app .comic .comic-lower > * {
            flex: 1; }
            body .app-container .app .comic .comic-lower > *:not(:first-child) {
              margin-top: 16px; }
          body .app-container .app .comic .comic-lower .edit-toolbar {
            display: flex;
            flex-direction: row;
            align-items: center; }
            body .app-container .app .comic .comic-lower .edit-toolbar .progress-bar {
              flex: 1;
              margin-right: 16px; }
          body .app-container .app .comic .comic-lower .comic-lower-inner {
            display: flex;
            flex-direction: row;
            align-items: center; }
            body .app-container .app .comic .comic-lower .comic-lower-inner .share-button {
              margin-right: 8px; }
              body .app-container .app .comic .comic-lower .comic-lower-inner .share-button .button-label {
                display: none; }
                @media (min-width: 768px) {
                  body .app-container .app .comic .comic-lower .comic-lower-inner .share-button .button-label {
                    display: initial; } }
          body .app-container .app .comic .comic-lower:empty {
            display: none; }
      body .app-container .app .form-wrapper {
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        max-width: 340px; }
        body .app-container .app .form-wrapper form {
          display: flex;
          flex-direction: column;
          align-items: stretch; }
          body .app-container .app .form-wrapper form > *:not(:first-child) {
            margin-top: 8px; }
          body .app-container .app .form-wrapper form .field-container {
            align-items: stretch; }
            body .app-container .app .form-wrapper form .field-container > * {
              text-align: left; }
          body .app-container .app .form-wrapper form .form-message {
            font-size: 14px; }
            body .app-container .app .form-wrapper form .form-message > * {
              margin: 8px 0; }
          body .app-container .app .form-wrapper form .button-container {
            justify-content: center;
            margin-top: 16px; }
      body .app-container .app .button {
        background: none;
        cursor: pointer;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        text-decoration: none;
        border: 1px solid;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: inline-flex;
        align-items: center;
        flex-direction: row; }
        body .app-container .app .button:focus {
          outline: 0; }
        body .app-container .app .button:hover {
          text-decoration: none; }
        body .app-container .app .button .button-label:not(:first-child) {
          margin-left: 8px; }
        body .app-container .app .button .button-label:not(:last-child) {
          margin-right: 8px; }
        body .app-container .app .button.button-black.button-hollow {
          color: #080808;
          border-color: #080808;
          background-color: transparent; }
          body .app-container .app .button.button-black.button-hollow .button-icon path {
            fill: #080808; }
          body .app-container .app .button.button-black.button-hollow:hover {
            border-color: black;
            color: black; }
            body .app-container .app .button.button-black.button-hollow:hover .button-icon path {
              fill: black; }
        body .app-container .app .button.button-black.button-solid {
          color: #fff;
          border-color: #080808;
          background: #080808; }
          body .app-container .app .button.button-black.button-solid .button-icon path {
            fill: #fff; }
          body .app-container .app .button.button-black.button-solid:hover {
            border-color: #171717;
            background: #171717; }
        body .app-container .app .button.button-white.button-hollow {
          color: #fff;
          border-color: #fff;
          background-color: transparent; }
          body .app-container .app .button.button-white.button-hollow .button-icon path {
            fill: #fff; }
          body .app-container .app .button.button-white.button-hollow:hover {
            border-color: #e6e6e6;
            color: #e6e6e6; }
            body .app-container .app .button.button-white.button-hollow:hover .button-icon path {
              fill: #e6e6e6; }
        body .app-container .app .button.button-white.button-solid {
          color: #fff;
          border-color: #fff;
          background: #fff; }
          body .app-container .app .button.button-white.button-solid .button-icon path {
            fill: #fff; }
          body .app-container .app .button.button-white.button-solid:hover {
            border-color: white;
            background: white; }
        body .app-container .app .button.button-green.button-hollow {
          color: #48AD92;
          border-color: #48AD92;
          background-color: transparent; }
          body .app-container .app .button.button-green.button-hollow .button-icon path {
            fill: #48AD92; }
          body .app-container .app .button.button-green.button-hollow:hover {
            border-color: #398974;
            color: #398974; }
            body .app-container .app .button.button-green.button-hollow:hover .button-icon path {
              fill: #398974; }
        body .app-container .app .button.button-green.button-solid {
          color: #fff;
          border-color: #48AD92;
          background: #48AD92; }
          body .app-container .app .button.button-green.button-solid .button-icon path {
            fill: #fff; }
          body .app-container .app .button.button-green.button-solid:hover {
            border-color: #59baa0;
            background: #59baa0; }
        body .app-container .app .button.button-red.button-hollow {
          color: #f0002d;
          border-color: #f0002d;
          background-color: transparent; }
          body .app-container .app .button.button-red.button-hollow .button-icon path {
            fill: #f0002d; }
          body .app-container .app .button.button-red.button-hollow:hover {
            border-color: #bd0023;
            color: #bd0023; }
            body .app-container .app .button.button-red.button-hollow:hover .button-icon path {
              fill: #bd0023; }
        body .app-container .app .button.button-red.button-solid {
          color: #fff;
          border-color: #f0002d;
          background: #f0002d; }
          body .app-container .app .button.button-red.button-solid .button-icon path {
            fill: #fff; }
          body .app-container .app .button.button-red.button-solid:hover {
            border-color: #ff103c;
            background: #ff103c; }
        body .app-container .app .button.button-pink.button-hollow {
          color: #ff0052;
          border-color: #ff0052;
          background-color: transparent; }
          body .app-container .app .button.button-pink.button-hollow .button-icon path {
            fill: #ff0052; }
          body .app-container .app .button.button-pink.button-hollow:hover {
            border-color: #cc0042;
            color: #cc0042; }
            body .app-container .app .button.button-pink.button-hollow:hover .button-icon path {
              fill: #cc0042; }
        body .app-container .app .button.button-pink.button-solid {
          color: #fff;
          border-color: #ff0052;
          background: #ff0052; }
          body .app-container .app .button.button-pink.button-solid .button-icon path {
            fill: #fff; }
          body .app-container .app .button.button-pink.button-solid:hover {
            border-color: #ff1f67;
            background: #ff1f67; }
        body .app-container .app .button.button-sm {
          padding: 4px 8px;
          font-size: 12px; }
          body .app-container .app .button.button-sm .button-icon {
            height: 12px;
            width: 12px; }
          @media (min-width: 576px) {
            body .app-container .app .button.button-sm {
              font-size: 14px; }
              body .app-container .app .button.button-sm .button-icon {
                height: 14px;
                width: 14px; } }
        body .app-container .app .button.button-md {
          padding: 4px 8px;
          font-size: 14px; }
          body .app-container .app .button.button-md .button-icon {
            height: 14px;
            width: 14px; }
          @media (min-width: 576px) {
            body .app-container .app .button.button-md {
              padding: 8px 16px;
              font-size: 16px; }
              body .app-container .app .button.button-md .button-icon {
                height: 16px;
                width: 16px; } }
        body .app-container .app .button.button-lg {
          padding: 8px 16px;
          font-size: 18px; }
          body .app-container .app .button.button-lg .button-icon {
            height: 18px;
            width: 18px; }
          @media (min-width: 576px) {
            body .app-container .app .button.button-lg {
              padding: 16px 32px;
              font-size: 20px; }
              body .app-container .app .button.button-lg .button-icon {
                height: 20px;
                width: 20px; } }
      body .app-container .app .modal {
        width: 94vw;
        background-color: #fff; }
        body .app-container .app .modal .modal-header {
          background-color: #080808;
          color: #fff;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 4px 8px; }
          body .app-container .app .modal .modal-header .modal-icon {
            height: 16px;
            width: 16px;
            margin-right: 8px; }
            body .app-container .app .modal .modal-header .modal-icon path {
              fill: #fff; }
          body .app-container .app .modal .modal-header .modal-close-icon {
            cursor: pointer;
            height: 24px;
            width: 24px; }
            body .app-container .app .modal .modal-header .modal-close-icon path {
              fill: #fff; }
            body .app-container .app .modal .modal-header .modal-close-icon:hover path {
              fill: #ff0052; }
        body .app-container .app .modal .modal-content {
          padding: 8px; }
        body .app-container .app .modal.modal-prompt {
          max-width: 500px; }
          body .app-container .app .modal.modal-prompt .modal-content .button-container {
            justify-content: flex-end; }
        body .app-container .app .modal.modal-share-comic {
          max-width: 500px; }
          body .app-container .app .modal.modal-share-comic .modal-content .share-comic {
            display: flex;
            flex-direction: column;
            align-items: center; }
            body .app-container .app .modal.modal-share-comic .modal-content .share-comic > *:not(:first-child) {
              margin-top: 16px; }
        body .app-container .app .modal.modal-submit-comic {
          max-width: 500px; }
      body .app-container .app .template-navigation {
        display: flex;
        flex-direction: row;
        align-items: center; }
        body .app-container .app .template-navigation .template-info h3 {
          color: #ff0052; }
        body .app-container .app .template-navigation .button .button-label {
          display: none; }
          @media (min-width: 992px) {
            body .app-container .app .template-navigation .button .button-label {
              display: initial; } }
      body .app-container .app .s4y-button .button-icon {
        width: 32px;
        height: 32px; }
      body .app-container .app .progress-bar {
        height: 10px;
        width: 100%;
        background-color: #efefef;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        overflow: hidden; }
        body .app-container .app .progress-bar .progress-bar-inner {
          height: 100%;
          transition: width 0.2s;
          background-color: #ff0052; }
      body .app-container .app .checkbox .checkbox-inner {
        padding-left: calc(20px + 4px);
        font-size: 14px; }
        body .app-container .app .checkbox .checkbox-inner .checkmark {
          height: 20px;
          width: 20px;
          font-size: 20px;
          line-height: 20px; }
          body .app-container .app .checkbox .checkbox-inner .checkmark .knob {
            height: calc(20px - 4px);
            width: calc(20px - 4px);
            top: 2px;
            left: 2px; }
      body .app-container .app .checkbox.checked .checkbox-inner .checkmark .knob {
        height: calc(20px - 4px);
        width: calc(20px - 4px);
        left: calc(20px - calc(20px - 4px) - 2px); }
      @media (min-width: 576px) {
        body .app-container .app .checkbox .checkbox-inner {
          padding-left: calc(22px + 4px);
          font-size: 16px; }
          body .app-container .app .checkbox .checkbox-inner .checkmark {
            height: 22px;
            width: 22px;
            font-size: 22px;
            line-height: 22px; }
            body .app-container .app .checkbox .checkbox-inner .checkmark .knob {
              height: calc(22px - 4px);
              width: calc(22px - 4px);
              top: 2px;
              left: 2px; }
        body .app-container .app .checkbox.checked .checkbox-inner .checkmark .knob {
          height: calc(22px - 4px);
          width: calc(22px - 4px);
          left: calc(22px - calc(22px - 4px) - 2px); } }
      body .app-container .app .checkbox .checkbox-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        body .app-container .app .checkbox .checkbox-inner input {
          cursor: pointer;
          position: absolute;
          opacity: 0;
          height: 0;
          width: 0; }
        body .app-container .app .checkbox .checkbox-inner .checkbox-label {
          margin-top: 2px; }
        body .app-container .app .checkbox .checkbox-inner .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          background-color: #969696;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          color: #fff;
          font-weight: bold; }
      body .app-container .app .checkbox:hover .checkmark {
        background-color: #a5a5a5; }
      body .app-container .app .checkbox.checked .checkmark {
        background-color: #ff0052; }
      body .app-container .app .checkbox.checked:hover .checkmark {
        background-color: #ff1f67; }
      body .app-container .app .checkbox.switch .checkbox-inner {
        padding-left: calc(30px + 4px);
        font-size: 14px; }
        body .app-container .app .checkbox.switch .checkbox-inner .checkmark {
          height: 20px;
          width: 30px;
          font-size: 20px;
          line-height: 20px; }
          body .app-container .app .checkbox.switch .checkbox-inner .checkmark .knob {
            height: calc(20px - 4px);
            width: calc(20px - 4px);
            top: 2px;
            left: 2px; }
      body .app-container .app .checkbox.switch.checked .checkbox-inner .checkmark .knob {
        height: calc(20px - 4px);
        width: calc(20px - 4px);
        left: calc(30px - calc(20px - 4px) - 2px); }
      @media (min-width: 576px) {
        body .app-container .app .checkbox.switch .checkbox-inner {
          padding-left: calc(33px + 4px);
          font-size: 16px; }
          body .app-container .app .checkbox.switch .checkbox-inner .checkmark {
            height: 22px;
            width: 33px;
            font-size: 22px;
            line-height: 22px; }
            body .app-container .app .checkbox.switch .checkbox-inner .checkmark .knob {
              height: calc(22px - 4px);
              width: calc(22px - 4px);
              top: 2px;
              left: 2px; }
        body .app-container .app .checkbox.switch.checked .checkbox-inner .checkmark .knob {
          height: calc(22px - 4px);
          width: calc(22px - 4px);
          left: calc(33px - calc(22px - 4px) - 2px); } }
      body .app-container .app .checkbox.switch .checkbox-inner .checkmark {
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        overflow: hidden; }
        body .app-container .app .checkbox.switch .checkbox-inner .checkmark .knob {
          background-color: #fff;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          position: absolute;
          transition: left 0.2s; }
      body .app-container .app .page-template .template-navigation {
        margin: 8px 0; }
        @media (min-width: 576px) {
          body .app-container .app .page-template .template-navigation {
            margin: 16px 0; } }
        body .app-container .app .page-template .template-navigation.top-template-nav {
          margin-top: 0; }
      body .app-container .app .page-template .template-highlight {
        background-color: #fff;
        box-shadow: inset 0 0 8px #00000044;
        -webkit-box-shadow: inset 0 0 8px #00000044;
        -moz-box-shadow: inset 0 0 8px #00000044;
        padding: 16px 0; }
        @media (min-width: 768px) {
          body .app-container .app .page-template .template-highlight {
            padding: 32px 0; } }
      body .app-container .app .page-template .template-feed {
        position: relative;
        min-height: 100px;
        padding: 16px 0; }
        @media (min-width: 768px) {
          body .app-container .app .page-template .template-feed {
            padding: 32px 0; } }
        body .app-container .app .page-template .template-feed .template-feed-inner {
          display: flex;
          flex-direction: column;
          align-items: center; }
          body .app-container .app .page-template .template-feed .template-feed-inner > .comic {
            margin-bottom: 32px; }
          body .app-container .app .page-template .template-feed .template-feed-inner .comic-list {
            align-self: stretch; }
      body .app-container .app [class^="page-"] {
        position: relative;
        margin: 8px 0; }
        @media (min-width: 576px) {
          body .app-container .app [class^="page-"] {
            margin: 16px 0; } }

@keyframes loader-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
    body .app-container .loader {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      pointer-events: none; }
      body .app-container .loader.masked {
        background-color: #00000044; }
      body .app-container .loader.image-loader > img {
        position: absolute;
        animation: loader-spin 2s linear infinite;
        left: 50%;
        top: 50%;
        width: 64px;
        height: 64px;
        margin-top: -32px;
        margin-left: -32px; }
      body .app-container .loader:not(.image-loader):before {
        content: '';
        position: absolute;
        border: 4px solid transparent;
        border-top: 4px solid #ff0052;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin-top: -16px;
        margin-left: -16px;
        left: 50%;
        top: 50%;
        animation: loader-spin 0.3s linear infinite; }
    body .app-container .hidden {
      display: none; }
    body .app-container .disabled {
      opacity: 0.2;
      pointer-events: none; }
    body .app-container .invisible {
      opacity: 0; }
    body .app-container .no-select {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    body .app-container .container {
      position: relative;
      margin: 0 auto;
      max-width: 320px; }
      @media (min-width: 576px) {
        body .app-container .container {
          max-width: 420px; } }
      @media (min-width: 768px) {
        body .app-container .container {
          max-width: 508px; } }
      @media (min-width: 992px) {
        body .app-container .container {
          max-width: 574px; } }
    body .app-container .row {
      position: relative;
      padding: 0 8px; }
      @media (min-width: 576px) {
        body .app-container .row {
          padding: 0 16px; } }
    body .app-container .field-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      body .app-container .field-container > label {
        font-size: 12px;
        margin-bottom: 4px; }
      body .app-container .field-container > .field-error {
        margin-top: 4px;
        color: #f0002d;
        font-size: 12px;
        text-align: left; }
    body .app-container .flex-spacer {
      flex: 1; }
    body .app-container .button-container {
      display: flex;
      flex-direction: row;
      align-items: center; }
      body .app-container .button-container > *:not(:first-child) {
        margin-left: 8px; }
    body .app-container .modal-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      position: fixed;
      background-color: #00000088;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    body .app-container h1, body .app-container h2, body .app-container h3, body .app-container h4, body .app-container h5, body .app-container h6 {
      margin: 0; }
    body .app-container .empty-text {
      font-size: 14px;
      color: #373737; }
    body .app-container a {
      cursor: pointer;
      text-decoration: none;
      color: #ff0052; }
      body .app-container a:hover {
        text-decoration: underline; }
    body .app-container h4 {
      font-weight: normal; }
    body .app-container h5 {
      text-transform: uppercase; }
    body .app-container input:not([type=checkbox]), body .app-container input:not([type=radio]), body .app-container select:not([type=checkbox]), body .app-container select:not([type=radio]), body .app-container textarea:not([type=checkbox]), body .app-container textarea:not([type=radio]) {
      padding: 4px 8px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border: 1px solid #c8c8c8;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
