.page-comic {
	.comic-area {
		position: relative;
		min-height: 100px;
		display: flex;
		flex-direction: column;

		.comic-info-label {
			margin: $spacing-sm 0;
		}

		.progress-bar {
			margin: 0 auto;
			width: 240px;
		}

		.comic-wrapper {
			margin-bottom: $spacing-lg;
		}
		
		.comic-list {
			margin-top: $spacing-lg;
		}
	}
}