.page-comic {
	.comic-highlight-inner {
		position: relative;
		min-height: 60vh;
		display: flex;
		flex-direction: column;

		.comic {
			margin: 0 auto;
		}

		.play-message {
			margin-top: $spacing-md;
		}
	}	
}