.page-comic {
	.comic-area {
		@include loaderContainer;
		display: flex;
		flex-direction: column;

		.comic-info-label {
			margin-bottom: $spacing-sm;
		}

		.progress-bar {
			margin: 0 auto;
			width: 240px;
		}

		.comic-wrapper {
			margin-bottom: $spacing-lg;
		}
		
		.comic-list {
			margin-top: $spacing-lg;
		}
	}
}