.stats-summary {
	&:not(:last-child) {
		margin-bottom: $spacing-sm;
		padding-bottom: $spacing-sm;
		border-bottom: 1px solid $colour-grey-a;
	}
	
	> * {
		&:not(:last-child) {
			padding-bottom: $spacing-xs;
		}
		&:not(:first-child) {
			padding-top: $spacing-xs;
		}
	}

	.stats-row {
		display: flex;
		flex-direction: row;

		.stat {
			flex: 1;
		}
	}
		
	.stat {

		@include allHeadings {
			text-align: center;
		}

		h5 {
			color: $colour-grey-e;
		}

		> * {
			&:not(:first-child) {
				margin-top: $spacing-xs;
			}
		}
	}
}