$colour-green: #48AD92;

$colour-red: #f02100;

$colour-pink: #ff0052;
$colour-light-pink: #ffedf3;

$colour-white: #fff;
$colour-black: #080808;

$colour-grey-a: #efefef;
$colour-grey-b: #c8c8c8;
$colour-grey-c: #969696;
$colour-grey-d: #777777;
$colour-grey-e: #525252;
$colour-grey-f: #232323;

$colour-transparent-grey-dark: #00000088; 
$colour-transparent-grey: #00000044; 

$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 32px;
$spacing-lg: 64px;
$spacing-xl: 128px;

$screen-width-sm-min: 576px;
$screen-width-md-min: 768px;
$screen-width-lg-min: 992px;

$font-family-default: Arial, Helvetica, sans-serif;

//Comic variables
$comic-panel-base-width: 540px;
$comic-panel-base-height: 450px;
$comic-panel-base-dialogue-line-height: 40px;
$comic-panel-base-dialogue-font-size: 36px;
$comic-panel-base-author-line-height: 18px;
$comic-panel-base-author-font-size: 16px;

//$comic-panel-scale-xs: 0.44; //used to be used for xs devices
$comic-panel-scale-sm: 0.48;
$comic-panel-scale-md: 0.52;
$comic-panel-scale-lg: 0.56;