$colour-green: #48AD92;

$colour-red: #f02100;

$colour-pink: #ff0052;
$colour-light-pink: #ffedf3;

$colour-white: #fff;
$colour-black: #080808;

$colour-grey-a: #efefef;
$colour-grey-b: #c8c8c8;
$colour-grey-c: #969696;
$colour-grey-d: #777777;
$colour-grey-e: #525252;

$colour-transparent-grey-dark: #00000088; 
$colour-transparent-grey: #00000044; 

$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 32px;
$spacing-lg: 64px;
$spacing-xl: 128px;

$screen-width-sm-min: 576px;
$screen-width-md-min: 768px;
$screen-width-lg-min: 992px;

$screen-height-sm-min: 576px;
$screen-height-md-min: 800px;
$screen-height-lg-min: 992px;
