.page-profile {

	.page-profile-inner {
		@include loaderContainer;

		.user-info {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			flex: 1;

			.user-info-header {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: $spacing-sm;
				
				.user-info-header-detail {
					> * {
						text-align: center;
					}
					
					.user-name {
						word-break: break-word;
					}

					.joined-date {
						margin: $spacing-xxs 0;
						color: $colour-grey-e;
					}
				}
			}

			.user-stats {
				> * {
					&:not(:last-child) {
						border-bottom: 1px solid $colour-grey-b;
						padding-bottom: $spacing-sm;
					}
					&:not(:first-child) {
						padding-top: $spacing-sm;
					}
				}

				.user-stats-row {
					display: flex;
					flex-direction: row;

					.user-stat {
						flex: 1;
					}
				}
					
				.user-stat {

					@include allHeadings {
						text-align: center;
					}

					h5 {
						color: $colour-grey-e;
					}

					> * {
						&:not(:first-child) {
							margin-top: $spacing-xs;
						}
					}
				}
			}

			.template-usage-table {
				border-collapse:collapse;

				th {
					font-size: 12px;
    				font-weight: normal;
				    border-bottom: 1px solid $colour-grey-b;
				}

				td, th {
					padding: $spacing-xs;

					&.td-template-name {
						width: 100%;
					}
					&.td-template-usages {
						text-align: center;
					}
				}

				.template-usage-row {
					
					&:nth-child(2n) {
						background-color: $colour-grey-a;
					}
				}
			}

			.comic-list {
				margin-top: $spacing-md;
			}
		}
	}
}