.form-wrapper {
	position: relative;
    margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	max-width: 340px;

	form {
		display: flex;
		flex-direction: column;
		align-items: stretch;

		> * {
			&:not(:first-child) {
				margin-top: $spacing-xs;
			}
		}

		.field-container {
			align-items: stretch;
			> * {
				text-align: left;
			}
		}

		.form-message {
			font-size: 14px;

			> * {
				margin: $spacing-xs 0;
			}
		}
		
		.button-container {
			justify-content: center;
			margin-top: $spacing-sm;
		}
	}
}