.form-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	&.auth-form {
		@include raisedContainer;
		padding: $spacing-sm;
		margin: 0 auto;
		align-self: stretch;
		max-width: 320px;
		@include oversm {
			width: 100%;
		}

		h2 {
			text-align: center;
			margin-bottom: $spacing-xs;
		}

		.button-container {
			justify-content: center;
		}
	}

	&.flat-form {
		.button-container {
			justify-content: center;
			@include oversm {
				justify-content: flex-start;
			}
		}
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: stretch;

		> * {
			&:not(:first-child) {
				margin-top: $spacing-xs;
			}
		}

		.field-container {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			> * {
				text-align: left;
			}

			> label {
				font-size: 12px;
				margin-bottom: $spacing-xxs;

				.optional {
					color: $colour-grey-d;
				}
			}
			
			&.error {
				@include textInputs {
					border-color: $colour-red;
				}
			}

			textarea {
				min-height: 60px;
				resize: vertical;
			}
		}

		.button-container {
			margin-top: $spacing-xs;
			@include oversm {
				margin-top: $spacing-sm;
			}

			&:not(:last-child) {
				margin-bottom: $spacing-xs;
				@include oversm {
					margin-bottom: $spacing-sm;
				}
			}
		}
	}

	.field-error {
		margin-top: $spacing-xxs;
		color: $colour-red;
		font-size: 12px;

		text-align: left;		
		&.overall-error {
			text-align: center;
		}
	}

	.form-message {
		color: $colour-grey-d;
		text-align: center;
		font-size: 12px;
		margin: $spacing-xs 0;

		& + .form-message {
			margin-top: 0;
		}
	}


}