.achievement-list {
	.table-title {
		margin-bottom: $spacing-sm;
		text-align: center;
	}

	.achievement-table {
		margin: 0 auto;
		width: 100%;
		max-width: 420px;

		.achievement-row {

			td {
				vertical-align: top;
				padding: $spacing-xs 0;
			}

			.td-achievement-image {
				padding-right: $spacing-xs;
				&.unlocked {
					.achievement-image {
						background-color: $colour-pink;
					}
				}
				&:not(.unlocked) {
					opacity: 0.5;
				}
			}

			.td-achievement-detail {
				width: 100%;

				p {
					margin: 0;
				}

				.progress-bar {
					margin-top: $spacing-xxs;
					height: 10px;

					.progress-bar-inner {
						background-color: $colour-pink;
					}

					.progress-bar-label {
						line-height: 10px;
					}
				}

				.unlocked-info {
					font-size: 10px;
					font-weight: bold;
					color: $colour-grey-c;
					margin-top: $spacing-xxs;
				}
			}
		}
	}
}